DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	personId:'$personId',
	businessType : '$!businessType',
	oppositeType : '$!oppositeType',
	productId : '$!productId',
	isOnlineApply:'$!isOnlineApply',
	loanId:'$!loanId',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
	},
	initComponents : function() {
			var jsArr = [
				__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
			    __ctxPath + '/js/creditFlow/smallLoan/quickenLoan/LendForm.js',//借款需求
			    __ctxPath + '/js/creditFlow/customer/person/relationPerson/RelationPersonView.js',//联系人信息
			    __ctxPath + '/js/creditFlow/customer/enterprise/EnterpriseRelation.js',//企业联系人信息
			    __ctxPath+'/js/creditFlow/smallLoan/project/loadDataCommon.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/BorrowerInfo.js',
//				__ctxPath + '/js/creditFlow/personrelation/netcheck/BpPersonNetCheckInfoView.js',//网审信息
				__ctxPath + '/js/creditFlow/report/SlReportView.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',
				__ctxPath + '/js/creditFlow/agent/SeeBankCreditDetailWin.js',
				__ctxPath + '/js/creditFlow/assuretenet/SlProcreditAssuretenetedForm.js',// 贷款准入原则
				__ctxPath + '/js/creditFlow/guarantee/materials/SlEnterPriseProcreditMaterialsView.js'// 贷
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		//项目基本信息
		this.projectInfo = new ExtUD.Ext.CreditLoanProjectInfoPanel({
			readOnly:true,
			product:true,
			isCPLX:true
		});
		
		//借款需求
		this.LendForm = new LendForm({
			projectID : this.projectId,
			isAllReadOnly : true,
			isReadOnly:true
		});
		
		//个人客户信息
		this.perMain = new ExtUD.Ext.CustomerInfoFastPanel({
			isEditPerson : false,
			isAllReadOnly:true,
			isRead:true,
			isReadOnly:true,
			isHidden:true,
			isSpouseReadOnly: true,
			isNameReadOnly:true,
			isHiddenCustomerDetailBtn:false,
			loanId:this.loanId
		});		
	
		//贷款账户信息
		this.bankAccountPanel=new ExtUD.Ext.BankAccountPanel({
			legalpersonid:this.personId,
			isReadOnly:true,
			projectId:this.projectId
		});
	
		//联系人信息(配偶或直系亲属)   PersonRelation  VPersonRelationperson
		this.relationPersonInfo0 = new RelationPersonView({
			personIdValue:this.personId,
			projectId:this.projectId,
			relationPersonType:575,
			flag:0,
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true
		});
		
		this.relationPersonInfo1 = new RelationPersonView({
			personIdValue:this.personId,
			projectId:this.projectId,
			relationPersonType:577,
			flag:1,
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true
		});
		
		this.relationPersonInfo2 = new RelationPersonView({
			personIdValue:this.personId,
			projectId:this.projectId,
			relationPersonType:576,
			flag:2,
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true
		});

		this.enterpriseRelation=new EnterpriseRelation({
			enterpriseId:this.personId,
			isReadOnly:true
		});
		
		//网审信息
		/*this.netCheckInfoView = new BpPersonNetCheckInfoView({
			projectId:this.projectId,
			personId:this.personId
		});*/
		
		//资金款项
		/*this.projectInfoFinance= new ExtUD.Ext.newProjectInfoFinancePanel({
			isAllReadOnly:true,
			isHiddencalculateBtn:true,
			isStartDateReadOnly:true,
			isStartDateReadOnly:true,
		 	projectId:this.projectId,
		 	isHkReadOnly:true,
			idDefinition:'personLoanFlow'+this.taskId 
		});*/
		this.projectInfoFinance = new LoanTrialProductFormPanel({
		   	isModelHidden:true,
		   	isAllReadOnly:true,
		   	isMoneyReadOnly:true,
			isStartDateReadOnly:true,
		 	projectId:this.projectId,
			idDefinition:'personLoanFlow'+this.taskId ,
			defineForm :'slSmallloanProject'
	    });
		//授信信息
		this.bankcredtiTongyong= new ExtUD.Ext.bankcredtiTongyong({
			personId :this.personId,
			oppositeType:this.oppositeType,
			taskId:this.taskId,
			bianhaoReadOnly:true,//授信编号可读性
			disableIshidden:true,
			shouxinreadOnly:true,
			isProductReadOnly:true,
			isAllReadOnly:true,
			isHiddencalculateBtn:true,
			isStartDateReadOnly:true,
			isHkReadOnly:false,
			isSomeReadOnly:true,
		 	projectId:this.projectId,
			idDefinition:'personLoanFlow'+this.taskId 
		});
		
		//个人客户信息
		this.perMain1 = new ExtUD.Ext.CustomerInfoFastPanel({
			isEditPerson : false,
			isAllReadOnly:true,
			isRead:true,
			isHidden:true,
			isSpouseReadOnly: true,
			isNameReadOnly:true,
			isHiddenCustomerDetailBtn:false,
			loanId:this.loanId
		});
		
		//保证人信息
		this.bondPanel= new ExtUD.Ext.bondPanel({
			personId :this.personId,
			oppositeType:this.oppositeType,
			baozhengrenTextReadOnly:true,//保证人控件可读性
			radioButtonDisable:true,//单选按钮可编辑性
			shouxinreadOnly:false,
			isProductReadOnly:false,
			isAllReadOnly:true,
			isHiddencalculateBtn:true,
			isStartDateReadOnly:true,
			isHkReadOnly:false,
			isSomeReadOnly:true,
		 	projectId:this.projectId,
			idDefinition:'personLoanFlow'+this.taskId 
		});
		
		//共同借款人信息
		this.borrowerInfo=new BorrowerInfo({
			projectId : this.projectId,
			isHidden : true,
			isReadOnly:true,
			isHiddenAddBtn : true,
			isHiddenDelBtn:true
		});
		
		this.perMain = "";
		var title="企业客户信息";
		if (this.oppositeType =="person_customer") {
			//个人客户信息
			this.perMain = {
				xtype : 'fieldset',
				title :'个人客户信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [{
					xtype : 'fieldset',
					title :'基本信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items :[this.perMain1]
				},{
					xtype : 'fieldset',
					title :'贷款账户信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items :[this.bankAccountPanel]
				}, {       
				    xtype : 'fieldset',
					title : '共同借款人信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.borrowerInfo]
				}]	
			}	
			title="个人客户信息";
		} else if(this.oppositeType =="company_customer"){
			this.perMain = {
				xtype : 'fieldset',
				title :title,
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [
					new  ExtUD.Ext.PeerMainInfoPanel({
				 		projectId : this.projectId,
						bussinessType:this.businessType,
						isAllReadOnly : true,
						isNameReadOnly:false,
						isHidden : false,
						isReadOnly:true,
						isHiddenCustomerDetailBtn:true,
						isEditEnterprise : true
					})
				]
			}
		}
		
		//财务服务费
		this.actualToChange = new SlActualToCharge({
			projId : this.projectId,
			businessType : 'SmallLoan',// 小贷
			editor:false,
			datafield : false,
			serviceHidden:true,
			isHidden : true
		});
		
		//贷款材料
		this.SlProcreditMaterialsView = new SlEnterPriseProcreditMaterialsView({
			projectId : this.projectId,
			businessType : this.businessType,
			isHiddenEdit:true,
			isHiddenRecieve :true,
			operationType :this.operationType,
			isHidden_materials:true,
			isHidden:true
		});
			
		//企业贷款准入原则 (贷款必备材料)
		this.slProcreditAssuretenetForm = new SlProcreditAssuretenetedForm({
		    businessType:this.businessType,
			projectId : this.projectId,
			isEditRiskmanageropinion:false,
			isEditBbusinessmanageropinion:false,
			isEditRiskmanageropinionB:false,
			isEditRiskmanagercombox:true
		});
		
		//上传资料
		this.onceCheckReportView = new SlReportView({
			projectId : this.projectId,
			hiddenDownLoad:true,//下载按钮不显示
			businessType : 'SmallLoan',
			isShouxin:true,
			Template:'ReportTemplate',
			isHidden_report : true
		});
		
		//抵质押物
		this.dYMortgageViewProduct=new DZYMortgageView({
			projectId : this.projectId,
			titleText : '抵质押担保',
			businessType : '$!businessType',
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true,
			isHiddenRelieve:true,
			isblHidden:false,
			isblEdit:false,
			isBl:false,
			isRecieveHidden:true,
			isgdHidden:true,
			formPanel:this.LendForm
		});
		
		//保证担保
		this.baozMortgageView= new BaozMortgageView({
			projectId : this.projectId,
			titleText : '保证担保',
			businessType : '$!businessType',
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true,
			isHiddenRelieve:true,
			isRecieveHidden:true,
			isblHidden:false,
			isblEdit:false,
			isBl:false,
			isgdHidden:true,
			formPanel:this.LendForm
		})
		
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				labelAlign : 'left',
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSmallloanProjectService.saveSmallProjectInfoNextStep'
			},{
				xtype:'hidden',
				name:'slprojectId',
				value:this.projectId
			},{
				xtype:'hidden',
				name:'thisTaskName',
				value:'chushen'
			},{
				xtype : 'hidden',
				name : 'loanId',
				value : this.loanId
			}/*,{
				xtype : 'hidden',
				name : 'netCheckData'
			}*/,{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				collapsed : true,
				items : [this.projectInfo]
			},{
				xtype : 'fieldset',
				title :'授信信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : false,
				items : [this.bankcredtiTongyong]
			},{
				xtype : 'fieldset',
				title :'保证金信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.bondPanel]
			},this.perMain,{
				xtype : 'fieldset',
				title : '借款需求 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				collapsed : true,
				items : [this.LendForm]
			}, {
				xtype : 'fieldset',
				title :'资金款项信息',
				name:'financeInfoFieldset',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.projectInfoFinance]
			},{
				xtype : 'fieldset',
				title :'费用清单',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.actualToChange]
			},{
				xtype : 'fieldset',
				title :'担保措施',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.dYMortgageViewProduct,this.baozMortgageView]
			},{
				xtype : 'fieldset',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				title :'企业联系人信息',
				hidden:this.oppositeType=='company_customer'?false:true,
				items : [this.enterpriseRelation]
			}, {
				xtype : 'fieldset',
				title :'联系人信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				hidden:this.oppositeType =="company_customer"?true:false,
				autoHeight : true,
				collapsed : true,
				items :[{
					xtype : 'fieldset',
					title :'【联系人信息】家庭联系人',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.relationPersonInfo0]
				},{
					xtype : 'fieldset',
					title :'【联系人信息】工作证明人',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.relationPersonInfo1]
				},{
					xtype : 'fieldset',
					title :'【联系人信息】紧急联系人',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.relationPersonInfo2]
				}]
			}, {
				xtype : 'fieldset',
				title :'贷款材料清单',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.SlProcreditMaterialsView]
			},{
				xtype : 'fieldset',
				title :'贷款必备条件',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.slProcreditAssuretenetForm]
			}/*, {
				xtype : 'fieldset',
				title :'电审信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.netCheckInfoView]
			}*/,{
				xtype : 'fieldset',
				title :'申请资料上传',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.onceCheckReportView]
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        },{
	        	 xtype:'hidden',
			     id:'bankCreditId',
			     disabled:true,
			     value:null
	        }]
		})
	
		this.loadData({
			url : __ctxPath + '/project/getSmallLoanProjectInfoSlSmallloanProject.do?slProjectId='+this.projectId+'&slTaskId='+this.taskId+"&isOnlineApply="+this.isOnlineApply,
			method : "POST",
			preName : ['person', 'slSmallloanProject','bankCredit','cashDeposit','bpProductParameter','workCompany','bpMoneyBorrowDemand','creditRating',"enterpriseBank"],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				expandFieldSet(this.formPanel)

				if(alarm_fields.data.comments){
				    this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);
				}
				var isbankcredt=this.getCmpByName('isbankcredtiTongyong');
				isbankcredt.fireEvent('change',isbankcredt);
				var iscash=this.getCmpByName('iscashDepositTongyong');
				iscash.fireEvent('change',iscash);
				Ext.getCmp('bankCreditId').setValue(alarm_fields.data.bankCredit.id);
				loanTrialLoadData(this,alarm_fields.data.slSmallloanProject,'personLoanFlow'+this.taskId,"slSmallloanProject");
			}
		});
		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.ownerCt.ownerCt.getCmpByName('commentsRecords').setTitle('任务处理历史【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
//		var netCheckData=this.netCheckInfoView.getGridDate();//网审信息
//		formPanel.getCmpByName('netCheckData').setValue(netCheckData);
			formPanel.getForm().submit({
			    clientValidation: false, 
				url : __ctxPath + '/project/saveSmallProjectInfoSlSmallloanProject.do',
				params : {
					'comments':formPanel.comments
				},
				method : 'post',
				waitMsg : '数据正在提交，请稍后...',
				scope: this,
				success : function(fp, action) {
					var object = Ext.util.JSON.decode(action.response.responseText)
					Ext.ux.Toast.msg('操作信息', '保存信息成功!');
//					this.netCheckInfoView.gridPanel.store.reload();
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
						title : '操作信息',
						msg : '信息保存出错，请联系管理员！',
						buttons : Ext.MessageBox.OK,
						icon : 'ext-mb-error'
					});
				}
			});
	},
	validate : function(outpanel) {
		return true;
	}
})